<!DOCTYPE html>
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% endif %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page title -->
    <title>{% block bootstrap5_title %}Litreview{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <!-- Bootstrap JavaScript if it is in head -->
    {% if 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript %}
    {% endif %}

    {% block bootstrap5_extra_head %}{% endblock %}

</head>

<body>
    {% include "navigation.html" %}
    {% block bootstrap5_before_content %}
    {% endblock %}
    <div class="container-md mb-5">
        <div class="d-grid gap-2 d-md-flex mt-5 justify-content-center">
            <div class="col-10">
                {% block bootstrap5_content %} CONTENT {% endblock %}
                {% block bootstrap5_after_content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript if it is in body -->
    {% if not 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript %}
    {% endif %}

    {% block bootstrap5_extra_script %}{% endblock %}

</body>

</html>
