{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block bootstrap5_before_content %}
<div class="header bg-default pt-4 pb-4">
    <div class="container-fluid">
        <h1 class="text-white text-center">Création d'un ticket et d'une critique</h1>
    </div>
</div>
{% endblock bootstrap5_before_content%}

{% block bootstrap5_content %}
<div class="container-fluid pt-2">

    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px">
            <a class="btn btn-secondary" role="button" href="{% url 'index' %}">
                <i class="fa fa-arrow-left"></i>
                Retour
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header"> Créer un ticket et une critique</div>
                <div class="card-body">
                    <form action="" method="post" class="was-validated" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header"> Créer un ticket </div>
                            <div class="card-body">
                                {{ form|crispy }}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"> Créer une critique </div>
                            <div class="card-body">
                                {{ sub_form|crispy }}
                            </div>
                        </div>
                        <div class="card-footer submit">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
