{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block bootstrap5_content %}
<div class="container-md mb-5">
    <div class="d-grid gap-2 d-md-flex mt-5 justify-content-center">
        <div class="col-10">
            <div class="card mb-auto">
                <div class="card-header d-grid gap-2 d-md-flex justify-content-center">
                    Créer une critique
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-content">
                            {% crispy form form.helper %}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-primary">Valider</button>
                                <a class="btn btn-secondary" role="button" href="{% url 'feed' %}">
                                    Retour
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
