{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block bootstrap5_content %}
<div class="card">
    <div class="card-header d-grid gap-2 d-md-flex justify-content-center">
        Modifier votre critique
    </div>
    <div class="card-body">
        <form action="" method="post" class="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-content">
                {% crispy form form.helper %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <a class="btn btn-secondary" role="button" href="{% url 'user_posts' %}">
                        Retour
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
