{% extends 'base.html' %}
{% load bootstrap5 %}

{% block bootstrap5_content %}
<div class="container">
    <h1>{% block title %}(no title){% endblock %}</h1>

    <p>
        <a href="{% url 'index' %}">home</a>
    </p>
    {% if reviews %}
    {% for review in reviews %}
    {{ review.time_created }}<br>
    {{ review.headline }}<br>
    {{ review.rating }}<br>
    {{ review.body }}<br>
    {{ review.user }}<br>
    {{ review.ticket }}<br>
    <a href="{% url 'review_edit' pk=review.id %}" class=" btn btn-secondary">Modifier</a>
    <a href="{% url 'review_delete' pk=review.id %}" class="btn btn-secondary">Supprimer</a>

    <br>
    {% endfor %}
    {% else %}
    <p>No reviewss are available.</p>
    {% endif %}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}(no content){% endblock %}
</div>

{% endblock %}
