{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load bootstrap5 %}

{% block bootstrap5_content %}
<div class="card mb-5">
    <div class="card-header d-grid gap-2 d-md-flex justify-content-center">
        Suivre un utilisateur
    </div>
    <div class="card-body">
        <form action="" method="post" class="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Suivre</button>
            </div>
        </form>
    </div>
</div>
{% if user_follows %}
<div class="card mb-5">
    <div class="card-header d-flex justify-content-center">
        Abonnements
    </div>
    <div class="card-body pb-0 pt-0">
        <ul class="list-group list-group-flush">
            {% for user_follow in user_follows %}
            {% if user_follow.user == current_user %}
            <li class="list-group-item">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <p class="card-text">{{ user_follow.followed_user }}</p>
                    </div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                        <p class="card-text"><a href="{% url 'subscription_delete' pk=user_follow.id %}"
                                class=" btn btn-danger btn-sm">Se
                                désabonner</a></p>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header d-flex justify-content-center">
        Abonnés
    </div>
    <div class="card-body pb-0 pt-0">
        <ul class="list-group list-group-flush">
            {% for user_follow in user_follows %}
            {% if user_follow.followed_user == current_user %}
            <li class="list-group-item">
                <div class="row pt-1 pb-1 d-flex align-items-center">
                    <p class="card-text">{{ user_follow.user }}</p>
                </div>

            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
<p>No users are available.</p>
{% endif %}
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
{% endblock %}