{% load bootstrap5 %}
{% load mathfilters %}
<div class="card border-info mb-2">
    <div class="card-body pb-0">
        <div class="row mb-3">
            {% if post.user == request.user %}
            <div class="col">
                <p class="card-text">Vous avez posté une critique</p>
            </div>
            {% else %}
            <div class="col">
                <p class="card-text">{{ post.user }} a posté une critique</p>
            </div>
            {% endif %}
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                <p class="card-text">{{ post.time_created|date:"H:i, j F Y" }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class=d-inline>
                <p class="card-text">{{ post.headline }} -
                    {%with rest_rate=5|sub:post.rating%}
                    {% if post.rating == 0 %}
                    {% for i in "x"|ljust:"5" %}
                    <i class="bi bi-star"></i>
                    {%endfor%}
                    {% elif post.rating == 5 %}
                    {% for i in "x"|ljust:"5" %}
                    <i class="bi bi-star-fill"></i>
                    {%endfor%}
                    {% else %}
                    {% for i in "x"|ljust:post.rating %}
                    <i class="bi bi-star-fill"></i>
                    {%endfor%}
                    {% for i in "x"|rjust:rest_rate %}
                    {%if rest_rate != 0%}
                    <i class="bi bi-star"></i>
                    {%endif%}
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
                </p>
            </div>
        </div>
        {% if post.body %}
        <div class="row mb-3">
            <p class="card-text">{{ post.body }}</p>
        </div>
        {% endif %}
        {% include 'management/snippets/ticket_in_review_snippet.html' %}
        {% if user_posts %}
        {% include 'management/user_posts/snippets/user_posts_button_review_snippet.html' %}
        {% endif %}
    </div>
</div>
