{% extends "base.html" %}
{% block bootstrap5_content %}

<div class="card mb-5">
    <div class="card-header">
        Suppression du ticket : {{ ticket.title }}
    </div>
    <div class="card-body">
        <form action="" method="post">
            <div class="row d-flex align-items-center">
                <div class="col">
                    Confirmez-vous la suppression de ce ticket?
                    {% csrf_token %}
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <input type="submit" name="save" value="Valider" class="btn btn-primary btn-wd btn-fill">
                    <a class="btn btn-secondary btn-wd btn-fill" role="button" href="{% url 'user_posts' %}">
                        Retour
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
